*{
        font-family: serif;
        color: white;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
h1{
  color: rgb(248, 10, 10);
}
h2{
  color: rgb(248, 10, 10);
}
h3{
  color: rgb(248, 10, 10);
}
.container-fluid{
  padding: 0;
}
body{
        background-color: #1A202C;
}
.contenedorPImg{
        height: 650px;
        width: 100vw;
        padding: 0;
}
.principalimg{
        height: 100%;
        width: 100%;
}
nav{
        position: absolute;
        z-index: 1000;
}
.menu{
        background-color: #1A202C;
        color: #fff;
        height: 70px;
        width: 100%;
        position: fixed;
        font-size: 18px;
        margin-bottom: 70px;
    }
    
    .menu__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    
    .menu__links{
        height: 100%;
        transition: transform .5s;
        display: flex;
    }
    
    .menu__item{
        list-style: none;
        position: relative;
        height: 100%;
        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
        --transform: rotate(-90deg);
    }
    
    .menu__item:hover{
        --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        --transform: rotate(0);
    }
    
    .menu__link{
        color: #fff;
        text-decoration: none;
        padding: 0 30px;
        display: flex;
        height: 100%;
        align-items: center;
    }
    
    .menu__link:hover{
        background-color: #5e7094;
    }
    
    
    .menu__arrow{
        transform: var(--transform);
        transition: transform .3s;
        display: block;
        margin-left: 3px;
    }
    
    .menu__nesting{
        list-style: none;
        transition:clip-path .3s;
        clip-path: var(--clip);
        position: absolute;
        right: 0;
        bottom: 0;
        width: max-content;
        transform: translateY(100%);
        background-color: #000;
        padding: 0;
    }
    
    .menu__link--inside{
        padding: 30px 100px 30px 20px;
    }
    
    .menu__link--inside:hover{
        background-color: #798499;
    }
    
    .menu__hamburguer{
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 15px;
        cursor: pointer;
        display: none;
    }
    
    .menu__img{
        display: block;
        width: 36px;
    }
    
    @media (max-width:800px){
        .menu__hamburguer{
            display: flex;
        }
    
        .menu__item{
            --clip:0;
            overflow:hidden ;
        }
    
        .menu__item--active{
            --transform: rotate(0);
            --background: #5e7094;
        }
    
        .menu__item--show{
            background-color: var(--background);
        }
    
    
        .menu__links{
            position: fixed;
            max-width: 400px;
            width: 100%;
            top: 70px;
            bottom: 0;
            right: 0;
            background-color: #000;
            overflow-y: auto;
            display: grid;
            grid-auto-rows: max-content;
            transform: translateX(100%);
        }
    
        .menu__links--show{
            transform: unset;
            width: 100%;
        }
    
        .menu__link{
            padding: 25px 0;
            padding-left: 30px;
            height: auto;
        }
    
        .menu__arrow{
            margin-left: auto;
            margin-right: 20px;
        }
    
        .menu__nesting{
            display: grid;
            position: unset;
            width: 100%;
            transform: translateY(0);
            height: 0;
            transition: height .3s;
        }
    
        .menu__link--inside{
            width: 90%;
            margin-left: auto;
            border-left: 1px solid #798499;
        }
    }
#principal{
        background-image:url(../imgs/maserati-car.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover  ;
    height: 700px;
    color: rgb(255, 255, 255);
}
.principal-info{
  font-size: 25px;
    position: relative;
    padding-top: 50px;
    display: grid;
    place-items: center;
}
.clientes{
    padding-top: 50px;
    text-align: center;
    height: 300px;
    width: 100%;
}
.clientes h3{
    padding-bottom: 40px;
}
.clientes div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.imgC{
    height: 100px;
    width: 140px;
}
#whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
    z-index: 999; /* Asegura que WhatsApp esté en la parte superior */
  }
  svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
  }
  circle {
    fill: #25d366;
  }
  path {
    fill: #fff;
  }
  .heartbeat {
      -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
              animation: heartbeat 1.5s ease-in-out infinite both;
  }
  .heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.Marcas{
    text-align: center;
    padding-top: 20px;
    
}

.imgS {
  width: 100px;
  height: 100px;
  animation: scroll 20s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 30px;
  background-color: #1A202C;
  padding: 8em 2em;
  position: relative;
}
.slider:before,
.slider:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 1;
}
.slider:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #1A202C);
}

.slider:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #1A202C);
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}
  #aboutsUs{
    padding-top: 80px;
  }
  .about{
    width: 100%;
    display: grid;
    place-items: center;
  }.about .mv{
    width: 90%;
    display: grid;
    place-items: center;
    padding: 0;
  }
  #personal{
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 70px;
    background-color: #434466;
  }
  .img_personal{
    width: 70px;
    height: 70px;
}
.trabajadoreh{
  padding-top: 70px;
}
.organigramaI{
  width: 70%;
  height: 100%;
  padding-top: 20px;
}
@media (max-width: 993px) {
  .clientes {
    padding-bottom: 366px;
    padding-top: 50px;
    text-align: center;
    height: 300px;
    width: 100%;
  }
}
@media (max-width: 577px) {
  .clientes {
    padding-bottom: 390px;
    padding-top: 50px;
    text-align: center;
    height: 300px;
    width: 100%;
  }.about div{
    width: 100%;
    display: grid;
    place-items: center;
  }
}
.servicios{
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
    place-items: center;
}
.servicios h3{
  padding-bottom: 20px;
}
.serviciosimg{
  width: 40%;
  height: 40%;
}
.servicios-container{
  padding-top: 100px;
}

.txtS{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desabolladuraVideo{
  width: 50%;
  height: 350px;
}
.videoParticulares{
  width: 80%;
  height: 100%;
}
.contenido{
  padding-top: 30px;
  display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 993px) {
  .desabolladuraVideo{
    width: 100%;
    height: 250px;
  }
  .txtS{
    width: 100%;
  }
  .clientes div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
}
.serviciosimgp{
  width: 30%;
  height: 200px;
}
#contacto{
  padding: 0;
  margin: auto;
  display: grid;
  place-items: center;
}
.mapadiv{
  height: 300px;
  margin: auto;
  display: grid;
  place-items: center;
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}
.mapa{
  width: 100%;
  height: 100%;
}
.mapas{
  display: flex;
  flex-wrap: wrap;
}
.comp-kq5dfsdv{
  padding: 0;
  width: 50%;
}
ol{
  list-style:none ;
}
.telefonosvg{
  width: 50px;
}
p{margin-bottom: 10px;}
@media (max-width: 779px) {
  .clientes div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
  }
  #aboutsUs{
    padding-top: 100px;
  }
  #aboutsUs div{
    width: 90%;
  }
  .clientesPar{
    padding-top: 420px;
  }

}
@media (max-width: 1012px) {
  .serviciosimgp{
    width: 100%;
    height: 30%;
  }
  .txtS p{
    width: 100%;
  }
}@media (max-width: 769px) {
  .serviciosimg{
    width: 100%;
    height: 70%;
  }
  .col-6{
    width: 100%;
  }
  .comp-kq5dfsdv {
    width: 100%;
  }
  .logos:before, .logos:after {
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    content: "";
    z-index: 2;
}
}
#Desabolladura{
  padding-top: 80px;
}
#Pintura{
  padding-top: 80px;
}
#Otros{
  padding-top: 80px;
}
#contacto{
  padding-top: 80px;
}
hr {border: 0; height: 4px; 
  margin-top: 20px;
  background-image: linear-gradient(left, #fff, red, #fff); 
  text-align: center;}
hr:after { 
  position: relative; 
  top: -12px; display: inline-block; 
  width: 36px; height: 24px; 
  padding: 0;
  border: 2px solid red; 
  border-radius: 24px; 
  background: red; color: white; 
  font-size: 12px; 
  line-height: 24px; }

.myv{
  padding: 0 20px;
  margin: 10px 10px;
  border: solid 3px rgb(29, 34, 66);
  background-color:rgb(29, 34, 66) ;
  border-radius: 10px;
}
.myvP{
  display: flex;
    align-items: center;
    justify-content: center;
}
.tree {
	width: 100%;
	height: auto;
	text-align: center;
  display: flex;
}
.tree ul {
	padding-top: 20px;
	position: relative;
	transition: .5s;
}
.tree li {
	display: inline-table;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 10px;
	transition: .5s;
}
.tree li::before, .tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 51%;
	height: 10px;
}
.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}
.tree li:only-child {
	padding-top: 0;
}
.tree li:first-child::before, .tree li:last-child::after {
	border: 0 none;
}
.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after {
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}
.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
	height: 20px;
}
.tree li a {
	border: 1px solid #ccc;
	display: inline-grid;
	border-radius: 5px;
	text-decoration-line: none;
	border-radius: 5px;
	transition: .5s;
}
.tree li a img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px !important;
	border-radius: 100px;
	margin: auto;
}
.tree li a span {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #666;
	padding: 8px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
/*Hover-Section*/
.tree li a:hover, .tree li a:hover i, .tree li a:hover span, .tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}
.wd100{
  width: 100%;
}
@media (max-width: 375px) {
  .Organigramadiv{
    display: none;
  }
}
.logoimg{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  margin-right: 6px;
  position: relative;
  top: -4px;
}
.img-fluid{
  width: 100%;
  height: 200px;
}
.logoPrincipal{
  display: flex;
    flex-direction: row;
    align-items: center;
}
#contacto h3{
  text-align: center;
}
.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-28 17:44:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-3-28 18:50:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

